*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: circle, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "circle Extra Light";
  src: url(../circe-font/CRC25.otf);
  font-weight: lighter;
}
@font-face {
  font-family: "circle Light";
  src: url(../circe-font/CRC35.otf);
}
@font-face {
  font-family: circle;
  src: url(../circe-font/CRC55.otf);
}
@font-face {
  font-family: "circle Bold";
  src: url(../circe-font/CRC65.otf);
}
body {
  color: #fff;
  fill: #fff;
  background-color: #000;
}
body #root {
  display: grid;
  overflow: hidden;
  grid-template-rows: 190px 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
}
body #preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/preloader-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
body #preloader img {
  width: 140px;
  animation: 1.6s loading infinite;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: #0052ff;
  position: fixed;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 561px) {
  .navbar {
    padding: none;
  }
}
.navbar .container {
  width: 860px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: 1px;
  transform: translate(-50%, -50%);
}
.navbar .container svg {
  width: 32px;
}
.navbar .container p {
  width: calc(100% - 30px);
  padding-left: 15px;
  font-family: "circle Light", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
@media (min-width: 561px) and (max-width: 890px) {
  .navbar .container p {
    padding-left: 20px;
  }
}
@media (min-width: 891px) {
  .navbar .container p {
    padding-left: 20px;
    font-size: 20px;
  }
}
.navbar .container .hand {
  display: none;
}
@media (min-width: 741px) {
  .navbar .container .hand {
    width: 40px;
    margin-top: -8px;
    display: block;
    animation: hand 3s linear infinite;
  }
}

header {
  min-height: 70px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}
@media (min-width: 741px) and (max-width: 890px) {
  header {
    min-height: 130px;
  }
}
@media (min-width: 891px) {
  header {
    min-height: 130px;
    justify-content: flex-start;
  }
}
header::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #0051ff;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: -1;
}
@media (min-width: 740px) and (max-width: 890px) {
  header::before {
    width: 320px;
    height: 360px;
    top: -215px;
    left: -175px;
  }
}
@media (min-width: 891px) and (max-width: 1690px) {
  header::before {
    width: 360px;
    height: 380px;
    top: -215px;
    left: -175px;
  }
}
@media (min-width: 1691px) {
  header::before {
    width: 485px;
    height: 480px;
    top: -215px;
    left: -175px;
  }
}
header #logo {
  height: 37px;
  margin-top: 18px;
  display: flex;
  position: relative;
  left: 11px;
}
@media (min-width: 891px) {
  header #logo {
    height: unset;
    margin-top: -3px;
    position: absolute;
    left: 41px;
  }
}
header .links {
  width: 800px;
  height: 130px;
  padding-left: 111.5px;
  letter-spacing: -0.2px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
header .links p {
  margin-right: 45px;
  font-size: 20px;
  font-weight: 400;
  display: none;
  position: relative;
  cursor: pointer;
}
@media (min-width: 891px) {
  header .links p {
    display: block;
  }
}
header .links p:nth-child(1)::after,
header .links p:nth-child(2)::after,
header .links p:nth-child(3)::after,
header .links p:nth-child(4)::after {
  content: " ";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transition: width 0.35s ease-in-out;
}
header .links p:nth-child(1):hover::after,
header .links p:nth-child(2):hover::after,
header .links p:nth-child(3):hover::after,
header .links p:nth-child(4):hover::after {
  width: 100%;
}
header .social {
  padding-left: 47px;
}
header .social .container {
  display: flex;
}
header .social .container a {
  width: 33px;
  height: 33px;
  margin-right: -2px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 426px) and (max-width: 740px) {
  header .social .container a {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 426px) and (max-width: 1070px) {
  header .social .container a {
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 1070px) {
  header .social .container a {
    width: 70px;
    height: 70px;
  }
}
header .built-by {
  color: #858585;
  margin: 0 auto 0 223px;
}
@media (min-width: 891px) {
  header .built-by {
    display: flex;
    align-items: center;
  }
}
header .built-by span {
  margin-top: 2px;
  font-family: circle, sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.2px;
}
header .built-by span:nth-child(1) {
  margin-right: 4.5px;
}
header .built-by span:nth-child(2) {
  color: #fff;
  font-size: 20px;
}
header .built-by img {
  display: inline-block;
  width: 75px;
  padding-left: 20px;
}
header .built-by img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.758fr 4.542fr 4.5fr 0.8fr;
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
main .sidebar {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}
main .sidebar p {
  margin-bottom: 19px;
  font-size: 18px;
  transform: rotate(-90deg);
  cursor: pointer;
}
main .sidebar p:nth-child(1):hover::after, main .sidebar p:nth-child(2):hover::after, main .sidebar p:nth-child(3):hover::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  animation-name: strike 4s linear;
  animation-iteration-count: 1;
}
main .sidebar .top {
  margin: 198px 0 0 40px;
  text-decoration: none;
}
main .sidebar .top p {
  font-family: "circle Light", sans-serif;
}
main .sidebar .top p:nth-child(1) {
  font-family: circle, sans-serif;
  font-weight: 400;
  letter-spacing: 0.6px;
}
main .sidebar .top p:nth-child(2) {
  margin-bottom: 25px;
  letter-spacing: 0.8px;
}
main .sidebar .top p:nth-child(2), main .sidebar .top p:nth-child(3) {
  color: #858585;
}
main .sidebar .bottom {
  margin: 310px 0 0 40px;
}
main .sidebar .bottom .container {
  margin: 60px 0 0 25px;
}
main .sidebar .bottom .container .line1,
main .sidebar .bottom .container .line2,
main .sidebar .bottom .container .line3 {
  width: 18px;
  height: 18px;
  margin-bottom: 15px;
  box-shadow: 2px 2px #fff;
  opacity: 1;
  position: relative;
  transform: rotate(45deg);
  animation: blinker 1s steps(5, start) infinite;
}
main .sidebar .bottom .container .line1 {
  animation-delay: 0s;
}
main .sidebar .bottom .container .line2 {
  animation-delay: 0.3s;
}
main .sidebar .bottom .container .line3 {
  animation-delay: 0.6s;
}
@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}
main .sidebar .bottom:hover .line1, main .sidebar .bottom:hover .line2, main .sidebar .bottom:hover .line3 {
  box-shadow: 2px 2px #fff;
  animation: none;
}
main .left {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  width: 690px;
  margin: 202px 0 0 6px;
}
main .left .blue-circle {
  width: 23px;
  height: 23px;
  border: solid 4px #0051ff;
  border-radius: 50%;
  position: absolute;
  top: 252px;
  left: 147px;
}
main .left .red-circle {
  width: 10px;
  height: 10px;
  background-color: #f43737;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 112px;
}
main .left h1 span {
  font-size: 70px;
  line-height: 1.22;
  display: block;
}
main .left h1 .thick {
  font-family: "circle Bold", sans-serif;
}
main .left h1 .thin {
  font-family: circle, sans-serif;
  font-weight: lighter;
}
main .left .text-changing-text {
  width: 100%;
  height: 55px;
  margin-top: 32px;
  padding-left: 10px;
  border: 2px solid #0051ff;
  display: flex;
  align-items: center;
}
main .left .text-changing-text p, main .left .text-changing-text span {
  font-weight: 400;
}
@media (min-width: 891px) {
  main .left .text-changing-text {
    width: unset;
    min-width: 509px;
    max-width: 600px;
    height: 76px;
    margin-top: 80px;
    padding-left: 45px;
  }
  main .left .text-changing-text p, main .left .text-changing-text span {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.24px;
  }
}
main .left .explain {
  margin-top: 60px;
  max-width: 94%;
}
main .left .explain p {
  color: #858585;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 1.85;
}
main .right {
  margin-top: 122px;
  margin-left: 215px;
  grid-row: 1/span 1;
  grid-column: 3/span 1;
  position: relative;
}
main .right img.hero {
  margin-bottom: -6px;
}
main .right .blue-circle {
  width: 10px;
  height: 10px;
  background-color: #0051ff;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: -30px;
}
main .right .red-circle {
  width: 23px;
  height: 23px;
  border: solid 4px #f43737;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: 0;
}
main .right .train {
  position: absolute;
  top: 0;
  left: 0;
  animation: train 8s infinite;
  animation-timing-function: ease-in-out;
  transform: translate(1497px, -744px);
  z-index: -1;
}
main .right .train img {
  width: 1480px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes train {
  40% {
    transform: translate(-99px, -99px);
  }
  60% {
    transform: translate(-99px, -99px);
  }
  100% {
    transform: translate(-2599px, 911px);
  }
}
@keyframes hand {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(1px);
  }
}

/*# sourceMappingURL=style.css.map */
