@use 'variables' as *;

*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: $font-f;
  font-size: 16px;
  line-height: 1.2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: circle;
  src: url(../circe-font/CRC55.otf);
}