@use 'reset';
@use 'variables' as *;

body {
  color: $text-color;
  fill: $text-color;;
  background-color: $background-color;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: $nav-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;

  /*.petition-logo {
    height: 37px;
  }*/
  
  svg {
    width: 30px;
    height: unset;

    @media (min-width: 561px) {
      height: 460px;
    }
  }

  p {
    width: calc(100% - 30px);
    padding-left: 15px;
    font-size: 15px;

    @media (min-width: 561px) and (max-width: 890px) {
      padding-left: 20px;
    }

    @media (min-width: 891px) {
      padding-left: 20px;
      font-size: 20px;
    }
  }

  .hand {
    display: none;

    @media (min-width: 741px) {
      width: 40px;
      margin-top: -8px;
      display: block;
    }
  }
}

header {
  min-height: 70px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: 741px) and (max-width: 890px) {
    min-height: 130px;
  }

  @media (min-width: 891px) {
    min-height: 130px;
    justify-content: flex-start;
  }

  ::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: $extra-background-color;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: -1;

    @media (min-width: 740px) and (max-width: 890px) {
      width: 320px;
      height: 360px;
      top: -215px;
      left: -175px;
    }

    @media (min-width: 891px) and (max-width: 1690px) {
      width: 360px;
      height: 380px;
      top: -215px;
      left: -175px;
    }

    @media (min-width: 1691px) {
      width: 485px;
      height: 480px;
      top: -215px;
      left: -175px;
    }
  }

  .links {
    img {
      height: 37px;
      margin-top: 18px;
      display: block;
      position: relative;
      //left: -9px;
      left: 11px;
    }
  }
}

main {
  .right {
    img {
      margin-bottom: -6px;
    }
  }
}