@use 'reset';
@use 'variables' as *;

body {
  color: $text-color;
  fill: $text-color;;
  background-color: $background-color;

  #root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 190px 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  #preloader {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/preloader-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 140px;
      animation: 1.6s loading infinite;
    }
  }
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: $nav-background-color;
  position: fixed;
  top: 0;
  cursor: pointer;
  z-index: 1;
  
  @media (min-width: 561px) {
    padding: none;
  }
  
  .container {
    width: 860px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: 1px;
    transform: translate(-50%, -50%);

    svg {
      width: 32px;
    }
  
    p {
      width: calc(100% - 30px);
      padding-left: 15px;
      font-family: "circle Light", sans-serif;
      font-weight: 400;
      font-size: 15px;
  
      @media (min-width: 561px) and (max-width: 890px) {
        padding-left: 20px;
      }
  
      @media (min-width: 891px) {
        padding-left: 20px;
        font-size: 20px;
      }
    }
  
    .hand {
      display: none;
  
      @media (min-width: 741px) {
        width: 40px;
        margin-top: -8px;
        display: block;
        animation: hand 3s linear infinite;
      }
    }
  }
}

header {
  min-height: 70px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  @media (min-width: 741px) and (max-width: 890px) {
    min-height: 130px;
  }

  @media (min-width: 891px) {
    min-height: 130px;
    justify-content: flex-start;
  }

  &::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: $blue-color;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: -1;

    @media (min-width: 740px) and (max-width: 890px) {
      width: 320px;
      height: 360px;
      top: -215px;
      left: -175px;
    }

    @media (min-width: 891px) and (max-width: 1690px) {
      width: 360px;
      height: 380px;
      top: -215px;
      left: -175px;
    }

    @media (min-width: 1691px) {
      width: 485px;
      height: 480px;
      top: -215px;
      left: -175px;
    }
  }

  #logo {
    height: 37px;
    margin-top: 18px;
    display: flex;
    position: relative;
    left: 11px;

    @media (min-width: 891px) {
      height: unset;
      margin-top: -3px;
      position: absolute;
      left: 41px;
    }
  }
  
  .links {
    width: 800px;
    height: 130px;
    padding-left: 111.5px;
    letter-spacing: -.2px;
    list-style-type: none;
    display: flex;
    align-items: center;
    
    p {
      margin-right: 45px;
      font-size: 20px;
      font-weight: 400;
      display: none;
      position: relative;
      cursor: pointer;

      @media (min-width: 891px) {
        display: block;
      }
    }

    p:nth-child(1),
    p:nth-child(2),
    p:nth-child(3),
    p:nth-child(4) {
      &::after {
        content: ' ';
        width: 0;
        height: 2px;
        background: $text-color;
        position: absolute;
        top: 50%;
        left: 0;
        transition: width 0.35s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }    


  .social {
    padding-left: 47px;
    
    .container {
      display: flex;
      
      a {
        width: 33px;
        height: 33px;
        margin-right: -2px;
        border: 2px solid $text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //border-style: solid solid solid none;
        cursor: pointer;
  
        @media (min-width: 426px) and (max-width: 740px) {
          width: 45px;
          height: 45px;
        }
  
        @media (min-width: 426px) and (max-width: 1070px) {
          width: 55px;
          height: 55px;
        }
  
        @media (min-width: 1070px) {
          width: 70px;
          height: 70px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          &::before {
            content: ' ';
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            transition: width 0.35s ease-in-out;
          }
    
          &:hover::before {
            width: 100%;
            height: 100%;
            fill: $background-color;
            background-color: $text-color;
          }
        }
        
        &:hover svg {
          fill: #000;
          z-index: 2;
        }
      }
    }
  }

  .built-by {
    color: $g-text-color;
    margin: 0 auto 0 223px;

    @media (min-width: 891px) {
      display: flex;
      align-items: center;
    }

    span {
      margin-top: 2px;
      font-family: circle, sans-serif;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: -.2px;

      &:nth-child(1) {
        margin-right: 4.5px;
      }
  
      &:nth-child(2) {
        color: $text-color;
        font-size: 20px;
        position: relative;
      }
    }

    img {
      display: inline-block;
      width: 75px;
      padding-left: 20px;

      &:hover {
        transform: scale(1.05);
        transition: transform .3s ease-in-out;
      }
    }
  }
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.758fr 4.542fr 4.5fr 0.8fr;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;

  .sidebar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

    p {
  //    margin-bottom: 19px;
      margin-bottom: 19px;
      font-size: 18px;
      transform: rotate(-90deg);
      cursor: pointer;
    
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          content: ' ';
          width: 0;
          height: 2px;
          background: $text-color;
          position: absolute;
          top: 50%;
          left: 0;
          transition: width 0.35s ease-in-out;
        }
  
        &:hover::after {
          width: 80%;
        }
      }
    }

    .top {
      margin: 198px 0 0 40px;
      text-decoration: none;
      
      p {
        font-family: "circle Light", sans-serif;

        &:nth-child(1) {
          font-family: circle, sans-serif;
          font-weight: 400;
          letter-spacing: 0.6px;
        }

        &:nth-child(2) {
          margin-bottom: 25px;
          letter-spacing: 0.8px;
        }
        
        &:nth-child(2),
        &:nth-child(3) {
          color: $g-text-color;
        }
      }
    }

    .bottom {
      margin: 310px 0 0 40px;

      .container {
        margin: 60px 0 0 25px;

        .line1,
        .line2,
        .line3 {
          width: 18px;
          height: 18px;
          margin-bottom: 15px;
          box-shadow: 2px 2px $text-color;
          opacity: 1;
          position: relative;
          transform: rotate(45deg);
          animation: blinker 1s steps(5,start) infinite;
        }

        .line1 {
          animation-delay: 0s;
        }

        .line2 {
          animation-delay: 0.3s;
        }

        .line3 {
          animation-delay: 0.6s;
        }

        @keyframes blinker {
          50% {
            opacity: 0.1;
          }
        }
      }

      &:hover .line1,
      &:hover .line2,
      &:hover .line3 {
        box-shadow: 2px 2px $text-color;
        animation: none;
      }
    }
  }

  .left {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    width: 690px;
    margin: 202px 0 0 6px;

    .blue-circle {
      width: 23px;
      height: 23px;
      border: solid 4px $blue-color;
      border-radius: 50%;
      position: absolute;
      top: 252px;
      left: 147px;
    }

    .red-circle {
      width: 10px;
      height: 10px;
      background-color: $red-circle;
      border-radius: 50%;
      position: absolute;
      top: 280px;
      left: 112px;
    }

    h1 {      
      span {
        font-size: 70px;
        line-height: 1.22;
        display: block;
      }

      .thick {
        font-family: "circle Bold", sans-serif;
      }

      .thin {
        font-family: circle, sans-serif;
        font-weight: lighter;
      }
    }

    .text-changing-text {
      width: 100%;
   //   max-width: unset;
   //   min-width: unset;
      height: 55px;
      margin-top: 32px;
      padding-left: 10px;
      border: 2px solid $blue-color;
      display: flex;
      align-items: center;

      p, span {
        font-weight: 400;
      }

      @media (min-width: 891px) {
        width: unset;
        min-width: 509px;
        max-width: 600px;
        height: 76px;
        margin-top: 80px;
        padding-left: 45px;

        p, span {
          font-size: 24px;
          font-weight: 300;
          letter-spacing: -.24px;
        }
      }
    }
    
    .explain {
      margin-top: 60px;
      max-width: 94%;

      p {
        color: $g-text-color;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -.25px;
        line-height: 1.85;
      }
    }
  }
  
  .right {
    margin-top: 122px;
    margin-left: 215px;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    position: relative;
    
    img.hero {
      margin-bottom: -6px;
    }

    .blue-circle {
      width: 10px;
      height: 10px;
      background-color: $blue-color;
      border-radius: 50%;
      position: absolute;
      top: 350px;
      left: -30px;
    }

    .red-circle {
      width: 23px;
      height: 23px;
      border: solid 4px $red-circle;
      border-radius: 50%;
      position: absolute;
      top: 300px;
      left: 0;
    }

    .train {
      position: absolute;
      top: 0;
      left: 0;
      animation: train 8s infinite;
      animation-timing-function: ease-in-out;
      transform: translate(1497px, -744px);
      z-index: -1;

      img {
        width: 1480px;
      }
    }
  }
}

//js
.toggle {
  left: 0;

  &::before {
    content: ' ';
    width: 100%;
    height: 2px;
    background: $text-color;
    position: absolute;
    top: 50%;
    transition: width 0.35s ease-in-out;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes train {
  40% {
    transform: translate(-99px, -99px);
  }
  60% {
    transform: translate(-99px, -99px);
  }
  100% {
    transform: translate(-2599px, 911px);
  }
}

@keyframes hand {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(1px);
  }
}